<div class="User" style="background-image:url(<%-profile_background_image_url %>); background-color:#<%-profile_background_color %>;">
    <h4><%-name %></h4>
    <img id="userPic" src="<%-profile_image_url %>" />
</div>